
:root {

    --orange: #edbd1b;

    --green: #5ab846;

}

@font-face {
  font-family: "Roboto";
  src: url("../webfonts/Roboto.ttf");
}

@font-face {
  font-family: "Heinberg";
  src: url("../webfonts/Heinberg.otf");
}

@font-face {
  font-family: "BarleyScript";
  src: url("../webfonts/BarleyScript.otf");
}

@media screen and (max-width: 767px) {
  
    .border-green {
      border-style: solid;
      border-color: #5ab846;
      border-width: 1px;
    }

    .bg-color-dark {
      background-color: #111111;
    }

    .nav-icon {
      padding-top: 0rem;
      margin-left: 0rem;
      margin-right: 0rem;
      width: auto;
      text-align: center;
      color: #c0c0c0;
      transition-duration: 500ms;
      transform-origin: 50% 50%;
    }

    .nav-icon:hover {
      color: #5ab846;
      cursor: pointer;
      transition-duration: 500ms;
    }

    .selected {
      color: #edbd1b;
      transition-duration: 500ms;
    }

    .selected:hover {
      color: #edbd1b;
      transition-duration: 500ms;
    }
}

@media screen and (min-width: 768px) {

  .bg-color-dark {
    background-color: rbga(1,1,1,0);
  }

  .nav-icon {
    padding-top: 44px;
    margin-left: 3rem;
    margin-right: 3rem;
    background-image: url(../images/others/bulbunlit.png);
    background-repeat: no-repeat;
    background-size: auto 44px;
    background-position: top;
    width: 7rem;
    text-align: center;
    color: #c0c0c0;
    transition-duration: 500ms;
    transform-origin: 50% 0%;
  }

  .nav-icon:hover {
    background-image: url(../images/others/bulbhighlight.png);
    color: #5ab846;
    cursor: pointer;
    transition-duration: 500ms;
  }

  .selected {
    background-image: url(../images/others/bulblit.png);
    color: #edbd1b;
    transition-duration: 500ms;
  }

  .selected:hover {
    background-image: url(../images/others/bulblit.png);
    color: #edbd1b;
    transition-duration: 500ms;
  }
}

p {
  font-family: "Roboto";
}

.nav-menu-icon {
  height: 50px;
  width: auto;
  padding: 0px;
  border-style: none !important;
}

.map-container {
  width:100%;
  height:100%;
}

.map-container iframe {
  width:100%;
  height:100%;
}

.font-roboto {
  font-family: "Roboto";
}

.font-heinberg {
  font-family: "Heinberg";
}

.font-barleyscript {
  font-family: "BarleyScript";
}

.text-small {
  font-size: 1rem;
}

.text-mid {
  font-size: 4rem;
}

.text-big {
  font-size: 8rem;
}

.border-white-1 {  
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 2px !important;
}

.glow-white-15 {
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.25);
}

.cursor-pointer {
  cursor: pointer;
}

.thumb-icon {
  cursor: pointer;
  transition-duration: 500ms;
  border-radius: 20px;
}

.thumb-icon:hover {
  transition-duration: 500ms;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.25);
}

.hover-zoomcontent {
  padding: 0.75rem;
  transition-duration: 500ms;
}

.hover-zoomcontent:hover {
  padding: 0.5rem;
  transition-duration: 500ms;
}

.hover-green:hover {
  color: #5ab846;
  transition-duration: 500ms;
}

.hover-orange:hover {
  color: #edbd1b;
  transition-duration: 500ms;
}

.color-orange {
  color: #edbd1b;
}

.color-green {
  color: #5ab846;
}

.color-grey-light {
  color: #c0c0c0;
}

.color-grey-dark {
  color: #808080;
}

.header-bg {
    background-image: url("../images/others/header-bg.png");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    height: 100vh;
}

.footer-container {
  position: fixed;
  width: 100%;
  height: auto;
  bottom: 0;
}

.footer-icon {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  color: #c0c0c0;
  transition-duration: 500ms;
  cursor: pointer;
}

.footer-logo {
  height: 50px;
  width: auto;
  animation-iteration-count: 1;
  transition-duration: 500ms;
}

.footer-logo:hover {
  animation-iteration-count: infinite;
  transition-duration: 500ms;
}

.padding-top-zero {
  padding-top: 0rem;
}

.padding-bot-zero {
  padding-bottom: 0rem;
}

.margin-top-zero {
  margin-top: 0rem;
}

.margin-bot-zero {
  margin-bottom: 0rem;
}

.margin-top-half {
  margin-top: 0.5rem;
}
